/* MAIN COLORS */
:root {
  --background-color: rgb(237, 245, 255);
  --title-color: rgb(38, 58, 80);
  --paragraph-color: rgb(60, 70, 79);
}

* {
  box-sizing: border-box;
}

html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}



/* TYPOGRAPHY */

body {
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
  color: var(--title-color);
}

h1 {
  font-size: 50px;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;

  color: var(--title-color);
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-size: 120px;
  font-weight: 700;

  color: var(--title-color);
}

.project-main-title {
  font-size: 80px;
  font-weight: 700;

  color: var(--title-color);
}

.subheader-text {
  font-size: 26px;
  font-weight: 700;

  color: var(--title-color);
}

.body-text {
  font-size: 18px;
  font-weight: 500;

  color: var(--paragraph-color);
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}





/* MAIN PAGE LAYOUT */

.main-content {
  margin: 80px 425px;
  display: flex;
  flex-direction: column;
}
/* padding only for direct children (ie6 compatible) */
.main-content div{
  padding-top: 80px;
}
.main-content div div{
  padding-top: 0px;
}



/* PORTFOLIO HEADER */

#portfolio-header {
  display: flex;
  gap: 20px;
  align-items: center;
  /* background */
  height: 100vh;
  position: relative;
}

#portfolio-header-image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 50%;
}

.portfolio-header-image {
  width: 100%;
  height: auto;
}

#portfolio-header-text-container {
  display: flex;
  flex-direction: column;
  gap: 34px;
  flex-basis: 50%;
  position: absolute;
  top: 25vh;
}

#title-gif {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60%;
  height: 100vh;

  mask-image: linear-gradient(to right, transparent, black);
  -webkit-mask-image: linear-gradient(to right, transparent, black);

  /* help tint to background color */
  mix-blend-mode: multiply;
}




/* ABOUT */

#about-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.about-section-content .body-text {
  margin-bottom: 100px;
}

.about-section-content .button {
  margin-top: 15px;
}





/* MY WORK */

#my-work-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 120px;
}

.projects-container {
  display: flex;
  gap: 34px 16px;
  flex-wrap: wrap;
}

    /* PROJECT CARDS */

    .project-card {
      max-width: calc((100% - 32px) / 3);
      display: flex;
      flex-direction: column;
      gap: 26px;
      width: 100%;
      position: relative;
      /* at least button height */
      padding-bottom: 60px;
    }

    .project-card .button {
      position: absolute;
      bottom: 0;
    }

    .project-card-text-container {
      flex-direction: column;
      display: flex;
      gap: 16px;
    }

    .project-image {
      width: 100%;
      /* height: 27vh; */
      aspect-ratio: 4 / 3;
      object-fit: cover;
      object-position: center;
      object-fit:cover;
      border-radius: 15px 0px;
    }



/* PROJECT PAGE */

#project-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-header-image {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

#project-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-details-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

    /* PHOTO GALLERY */

    #project-gallery {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .gallery-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    .gallery-container .column {
      display: flex;
      flex-direction: column;
      /* depends on number of columns */
      /* width: 32%; */
      text-wrap: wrap;
    }

    .column.full-width {
      width: 100%;
    }
    .column.half-width {
      width: 49%;
    }
    .column.third-width {
      width: 32%;
    }

    .gallery-container img {
      width: 100%;
      height: auto;
      padding-bottom: 12px;

      /* pop up transition */
      /* transition: transform 0.3s ease;
      transform-origin: center; */
    }

    /* .gallery-container img:hover {
      animation: scaleAnimation 0.3s ease 0.5s forwards;
    } */

    /* @keyframes scaleAnimation {
      from {transform: scale(1);}
      to {transform: scale(1.3);}
    } */


/* Extra Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1600px) {
  .home-main-content {
    margin: 0px 275px;
  }
  .project-main-content {
    margin: 35px 275px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
  .home-main-content {
    margin: 0px 175px;
  }
  .project-main-content {
    margin: 35px 175px;
  }
}

/* Large devices (laptops/desktops, 1000px and below) */
@media only screen and (max-width: 1000px) {
  .home-main-content {
    margin: 0px 75px;
  }
  .project-main-content {
    margin: 35px 75px;
  }
}

/* Small devices (portrait tablets and large phones, 800px and below) */
@media only screen and (max-width: 800px) {
  .home-main-content {
    margin: 0px 50px;
  }

  #portfolio-header {
    flex-direction: column;
    padding-top: 30vh;
  }

  #my-work-section {
    margin-top: 0px;
  }

  .project-card {
    max-width: calc((100% - 16px) / 2);
  }

  /* make image gallery inline*/
  .gallery-container {
    flex-direction: column;
  }

  .gallery-container .column {
    width: 100%;
  }
  /* image and caption */
  .gallery-container .column .image-container {
    margin-bottom: 40px;
  }

  .main-title {
    font-size: 80px;
  }

  .project-main-title {
    font-size: 50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and below) */
@media only screen and (max-width: 600px) {
  .home-main-content {
    margin: 0px 20px;
  }
  .project-main-content {
    margin: 30px 20px;
  }

  .project-card {
    max-width: 100%;
  }
}
